@media only screen and (min-width:735px) and (max-width: 999px) {

/* Targeted at iPads in Portrait (768px), and iPhone 6+ in landscape (736px)

Basic set up 
----------------------------- */

body {
    font-size: 15px;
}

.site-inner,
.wrap,
.content {
    width: 730px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
}

.site-inner {
    padding: 40px 0;
}

body.full-size-header-image .entry-header {
    height: 365px;
}

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
    width: 730px;
}

.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar .content {
    width: 350px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 29px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 19px;
}

/* Top menu
   ------------  */

.nav-primary .logo {
    width: 120px;
    height: 33px;
    margin-top: 7px;
}

#menu-primary .menu-item-type-custom a {
   pointer-events: none;
   cursor: default;    
}

#menu-primary .menu-item-type-custom .sub-menu a  {
    pointer-events: auto;
    cursor: auto;
}    

.nav-primary .search .dashicons-search {
    font-size: 27px;
    height: 44px;
    width: 27px;
    padding-top: 9px;
}

.nav-primary input[type="search"] {
    padding: 5px;
}

.genesis-nav-menu {
    font-size: 24px;
}

.genesis-nav-menu a {
    padding: 11.5px 12px;
}

.nav-primary .search a {
    padding: 0;
}

.genesis-nav-menu .menu-item-type-issue {
    width: 159px;
    padding: 16px 24px;
}

.genesis-nav-menu .menu-item-type-issue:first-child {
    width: 130px;
}

.genesis-nav-menu .menu-item-type-issue:last-child {
    width: 130px;
}

.genesis-nav-menu .menu-item-type-issue img {
    margin-bottom: 8px;
    width: 120px;
}

.genesis-nav-menu .menu-item-more-issues {
    padding-top: 80px;
}

.genesis-nav-menu .menu-item-more-issues a,
.genesis-nav-menu .menu-item-more-authors a {
    font-size: 14px;
}

.genesis-nav-menu .menu-item-type-author {
    width: 95px;
    padding: 16px 17px;
}

.genesis-nav-menu .menu-item-type-author:first-child {
    width: 74px;
}

.genesis-nav-menu .menu-item-type-author:last-child {
    width: 40px;
}

.genesis-nav-menu .menu-item-more-authors {
    padding-top: 36px;
}

.genesis-nav-menu .menu-item-type-author img {
    margin-bottom: 8px;
    width: 60px;
}

.genesis-nav-menu .menu-item-type-section a {
    font-size: 29px;
    padding: 16px;
}

input, select, textarea {
    font-size: 14px;
}

.sub-menu-issues .menu-item-type-issue:nth-of-type(5),
.sub-menu-issues .menu-item-type-issue:nth-of-type(6) {
    display: none;
}

.sub-menu-issues #menu-item-more-issues {
    width: 72px;
}

.sub-menu-authors .menu-item-type-author:nth-of-type(8),
.sub-menu-authors .menu-item-type-author:nth-of-type(9),
.sub-menu-authors .menu-item-type-author:nth-of-type(10) {
    display: none;
}

.genesis-nav-menu .sub-menu .menu-item-type-section a {
    font-size: 24px;
}

/* Widgets (2 column, below)
   -------------------------  */
   
.sidebar-primary,
.title-area {
    width: 730px;
}

.sidebar .widget {
    display:inline-block;
    width: 340px;
    vertical-align: top;
    margin-top: 0;
}

.sidebar .widget:nth-of-type(even) {
    margin-left: 46px;
}

.sidebar .widget-title {
    font-size: 30px;
}

.sidebar {
    font-size: 15px;
}

.sidebar li {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.sidebar .widget_evangelical_magazine_subscribe_print .widget-wrap >a >div {
    width: 372px;
    height: 337px;
}

.sidebar .widget_evangelical_magazine_current_issue .cover-image {
    width: 340px;
    height: 480px;
}

/* Home page
   ---------  */

body.home #latest-cover {
    display: none;
}

body.home #latest-articles {
    width: 100%;
}

body.home #latest-articles .article-wrap .article,
body.home #latest-articles .article-wrap:nth-of-type(6) .article,
body.home #latest-articles .article-wrap:nth-of-type(7) .article {
    width: 365px;
    height: 243.333px;
}

body.home #latest-articles .article-wrap:nth-of-type(3) .article,
body.home #latest-articles .article-wrap:nth-of-type(4) .article,
body.home #latest-articles .article-wrap:nth-of-type(5) .article {
    width: 243.333px;
    height: 162.222px;
}

body.home #latest-articles .article-wrap:nth-of-type(1) .article,
body.home #latest-articles .article-wrap:nth-of-type(3) .article,
body.home #latest-articles .article-wrap:nth-of-type(4) .article,
body.home #latest-articles .article-wrap:nth-of-type(6) .article {
    border-right: 1px solid white;
}

body.home #latest-articles .article-wrap:nth-of-type(2) .article,
body.home #latest-articles .article-wrap:nth-of-type(5) .article,
body.home #latest-articles .article-wrap:nth-of-type(7) .article {
    border-right: none;
}

body.home #latest-articles .article-title {
    font-size: 36px;
    line-height: 42px;
}

body.home #latest-articles .article-wrap:nth-of-type(3) .article .article-title,
body.home #latest-articles .article-wrap:nth-of-type(4) .article .article-title,
body.home #latest-articles .article-wrap:nth-of-type(5) .article .article-title {
    font-size: 30px;
    line-height: 35px;
}

body.home #subscription-form {
    display: none;
}

body.home #sections {
    padding: 0;
}

body.home #sections .article-list-box {
    width: 340px;
    margin: 0 0 50px 0;
}

body.home #sections .article-list-box:nth-of-type(even) {
    margin-left: 50px;
}

body.home #sections .article-list-box h3 {
    font-size: 56px;
}

body.home #sections .article-list-box-image {
    width: 340px;
    height: 226.667px;
}

body.home #sections .article-list-box-title {
    font-size: 24px;
}

body.home #sections .article-list-box-title {
    font-size: 20px;
}

/* Single pages
   ------------  */

.entry-title {
    font-size: 44px;
}

.entry-content {
    padding: 35px;
}

.after-article {
    padding: 0 35px 15px 35px;
    margin-top: -17.5px;
}

body.full-size-header-image .entry-header {
    height: 310px;
}

.small-article-box {
    width: 200px;
}

.small-article-box .article-image {
    width: 200px;
    height: 133.333px;
}

/* Issue archive page
   -----------------  */

body.post-type-archive-em_issue .magazine-cover {
    width: 210px;
    height: 297px;
}

body.post-type-archive-em_issue .issue-contents {
    width: 430px;
}

body.post-type-archive-em_issue ul.issue-list > li.issue {
    margin: 32px 0;
}

body.post-type-archive-em_issue h4 {
    font-size: 36px;
}

body.post-type-archive-em_issue .issue-contents {
    font-size: 18px;
    line-height: 21px;
}

/* Single issue pages
   ------------------  */

body.single-em_issue .entry-header {
    width: 300px;
    height: 423px;
    display: inline-block;
    margin-right: 40px;
}

body.single-em_issue .entry-content > div:first-of-type {
    width: 100%;
}

body.single-em_issue .entry-content > div:first-of-type p {
    display: inline-block;
    width: 320px;
}

body.single-em_issue .entry-content .article-list-box {
    width: 100%;
    clear: both;
    margin-bottom: 0;
    border-top: 1px solid #086788;
    padding-top: 15px; 
}   

body.single-em_issue .entry-content .article-list-box ol {
    margin-left: 0;
}

body.single-em_issue .article-list-box-image {
    width: 300px;
    height: 200px;
    margin-right: 40px;
    margin-bottom: 0;
}

body.single-em_issue .article-list-box .title-author-wrapper {
    width: 320px;
}

body.single-em_issue .article-list-author {
    font-size: 18px;
}    

/* Author archive page
   -------------------  */
   
.grid-author-container {
    width: 315px;
    margin-bottom: 30px;
}

.grid-author-image {
    width: 100px;
    height: 100px;
}

.grid-author-container:nth-of-type(even) {
    margin-left: 30px;
}

.grid-author-container .author-name-description {
    width: 200px;
}
   
/* Single author page
   -------------------  */

body.single-em_author h3.articles_by {
    font-size: 36px;
}
   
body.single-em_author .entry-content {
    padding-bottom: 5px;
}

/* Section archive page
   --------------------  */

.post-type-archive-em_section .section-list > .issue h4 {
    font-size: 36px;
}

.post-type-archive-em_section .issue-contents {
    font-size: 18px;
}

.post-type-archive-em_section .section-list .article-authors a {
    font-weight: 400;
}
   
/* Single section page
   -------------------  */

.single-em_section .article-list-box {
    margin-bottom: 0;
}

.single-em_section .article-list-box ol {
    margin-bottom: -15px;
}

.single-em_section .article-list-box li {
    width: 310px;
}

.single-em_section .article-list-box li:nth-of-type(even) {
    margin-left: 40px;
}

.single-em_section li .article-list-box-image {
    width: 310px;
    height: 206.667px;
    margin-bottom: 10px;
}

.single-em_section .article-list-box-title {
    font-size: 18px;
}

/* Search page
   -----------  */

body.search-results .em_article .entry-content > div {
    width: 405px;
    margin-left: 30px;
}

body.search-results .em_author .entry-content > div {
    width: 540px;
    margin-left: 30px;
}

}